@font-face {
	font-family: 'Myriad Pro Bold';
	src: url('../fonts/Myriad/MYRIADPRO-BOLD.eot');
	src: local('☺'), url('../fonts/Myriad/MYRIADPRO-BOLD.woff') format('woff'), url('../fonts/Myriad/MYRIADPRO-BOLD.ttf') format('truetype'), url('../fonts/Myriad/MYRIADPRO-BOLD.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro Light';
	src: url('../fonts/Myriad/MYRIADPRO-BOLD.eot');
	src: local('☺'), url('../fonts/Myriad/MYRIADPRO-LIGHT_0.woff') format('woff'), url('../fonts/Myriad/MYRIADPRO-LIGHT_0.ttf') format('truetype'), url('../fonts/Myriad/MYRIADPRO-LIGHT_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	padding: 0;
	margin: 0;
	height: auto;
	display: block;
	color: #fce092;
	font-family: 'Myriad Pro Bold';
	background-color: #342607;
}
a:hover{
	text-decoration: none;
}
/*width: 1170px*/
.none-padding{
	padding: 0;
}
.none-marign{
	margin: 0;
}
.content-center{
	width: 1170px;
	height: 100%;
	display: block;
	float: none;
	margin: 0 auto;
	position: relative;
}
/*Header*/
.header-wrapper{
	height: 138px;
	background-color: #4b3800;
	display: inline-block;
}
.header-content{
	width: 1170px;
	height: 100%;
	display: block;
	float: none;
	margin: 0 auto;
	position: relative;
}
.hd-content-left{
	float: left;
	width: 50%;
	display: block;
	height: 100%;
	padding-top: 30px;
	z-index: 2;
	position: relative;
}
.hd-content-left p{
	color: #fce092;
	font-size: 14px;
	font-family: 'Myriad Pro Bold';
	margin: 0;
}
.hd-content-right{
	float: right;
	width: 50%;
	display: block;
	height: 100%;
	z-index: 2;
	position: relative;
	padding-top: 25px;
}
.hd-banner{
	width: 526px;
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 100%;
	margin-left: -263px;
	padding-top: 25px;
	z-index: 1;
}
.hd-banner img{
	max-width: 100%;
}
.menu-header{
	margin: 0;
	padding: 0;
	float: right;
	width: auto;
	height: 20px;
	z-index: 1;
}
.menu-header li{
	float: left;
	text-align: left;
	display: block;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
}
.menu-header li:last-child{
	padding-right: 0;
}

.menu-header li a:after{
	position: absolute;
	right: 1px;
	top: 0;
	width: 1px;
	content: "|";
	color: #fcdd86;
	font-family: 'Myriad Pro Bold';
}
.menu-header li:last-child a:after{
	content: "";
}
.menu-header li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 14px;
	color: #fcdd86;
	font-family: 'Myriad Pro Bold';
}
.lang-wrapper{
	float: right;
	height: 18px;
	padding: 0;
	margin: 0;
	display: block;
	width: 200px;
}
.lang-wrapper a{
	float: right;
	height: 100%;
	display: inline-block;
	width: 30px;
	color: transparent;
	margin-left: 3px;
}
.lang-wrapper a span{
	opacity: 0.7;
}
.lang-wrapper a .active{
	opacity: 1;
}
.lang-wrapper a:first-child span{
	background-image: url('/assets/images/sprite.png');
	background-repeat: no-repeat;
	background-position: top 0 left -807px;
	height: 100%;
	width: 100%;
	float: left;
}
.lang-wrapper a:last-child span{
	background-image: url('/assets/images/sprite.png');
	background-repeat: no-repeat;
	background-position: top 0 left -775px;
	height: 100%;
	width: 100%;
	float: left;
}
.contact-wrapper{
	width: 70px;
	min-height: 200px;
	position: absolute;
	right: 0;
	top: 83px;
	display: block;
}
.contact-wrapper a{
	display: inline-block;
	width: 100%;
	height: 80px;
	background-image: url('/assets/images/sprite.png');
	background-repeat: no-repeat;
	margin-bottom: 5px;
}
.contact-wrapper a.contact-km{
	background-position: top -338px left -769px;
}
.contact-wrapper a.contact-tv{
	background-position: top -419px left -769px;
}
.contact-wrapper a.contact-facebook{
	background-position: top -502px left -769px;
}
.contact-wrapper a.contact-phone{
	background-position: top -585px left -769px;
}
/*Main menu*/
.main-menu-wrapper{
	background-image: url("/assets/images/back-menutop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2000px 200px;
    display: inline-block;
    height: 150px;
    width: 100%;
}
.main-menu-left{
	float: left;
	width: 50%;
	margin: 0;
	padding: 0;
	height: 100%;
}
.main-menu-left li{
	float: left;
	height: 100%;
	display: block;
	position: relative;
}
.main-menu-left li a{
	font-size: 15px;
	font-family: 'Myriad Pro Bold';
	color: #ffffff;
	display: inline-block;
	height: 100%;
	width: 100%;
	line-height: 150px;
	padding-right: 10px;
}
.main-menu-left li a.active,.main-menu-left li a:hover,.main-menu-left li.active a{
	color: #d5881c;
	text-decoration: none;
}
.main-menu-left li ul{
	position: absolute;
	height: auto;
	width: 250px;
	background-color: rgba(0,0,0,0.7);
	top: 95px;
	left: 0;
	padding: 0;
	padding-top: 5px;
    padding-bottom: 5px;
    display: none;
    z-index: 9999;
}
.main-menu-left li ul li{
	float: left;
	width: 100%;
	height: 35px;
	display: block;
}
.main-menu-left li ul li a{
	display: inline-block;
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 0px;
    text-align: left;
    font-size: 14px;
    line-height: 35px;
    padding-left: 10px;
    font-family: 'Myriad Pro Light';
    font-weight: 600;
}
.main-menu-left li:hover ul{
	display: block;
}
.main-menu-right{
	padding-left: 105px;
}
.logo-top{
	position: absolute;
    top: -13px;
    left: 50%;
    width: 180px;
    margin-left: -90px;
    z-index: 11;
}
/*Banner top*/
.banner-top-wraper{
	height: 470px;
	display: inline-block;
	background-color: #ddce9a;
	width: 100%;
	position: relative;
    z-index: 0;
    overflow: hidden;
}
.slide-wrapper{
	position: relative;
}
.slide-wrapper img{
	max-width: 100%;
	height: auto;
	min-height: 100%;
}
.carousel-bannertop{
	position: absolute;
    left: 12px !important;
    top: 25px;
    right: auto;
    width: 40px;
    height: 100%;
    bottom: auto;
    z-index: 100;
    margin: 0;
}
.carousel-bannertop li,.carousel-bannertop li.active{
	float: left;
	width: 100%;
	height: 35px;
	background-image: url('/assets/images/sprite.png');
	background-repeat: no-repeat;
	background-position: top -289px left -770px;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: #f2b934;
    text-indent: 0;
    line-height: 38px;
    opacity: 0.7; 
    margin: 0;
    margin-bottom: 23px;
}
.carousel-bannertop li.active{
	opacity: 1;
}
.carousel{
	height: 100%;
}
.carousel-inner{
	height: 100%;
}
.carousel-inner>.item{
	height: 100%;
}
/*Head line*/
.head-line-wrapper{
	height: 85px;
    display: inline-block;
    position: relative;
    width: 100%;
    background-image: url('/assets/images/bg-headline.png');
    background-repeat: no-repeat;
    background-position: top -19px left -22px;
}
.head-line-content{
	padding-left: 10px;
	padding-right: 10px;
}
.social-wrapper{
	float: left;
	height: 100%;
	display: block;
}
.social-wrapper a{
	float: left;
	display: inline-block;
	width: auto;
	height: 100%;
	padding-right: 20px;
	padding-top: 26px;
}
.social-wrapper a span{
	width: 35px;
	height: 35px;
	display: block;
}
.social-wrapper a .facebook{
	background-image: url('/assets/images/sprite.png');
	background-repeat: no-repeat;
	background-position: top -3px left -95px;
}
.social-wrapper a .twitter{
	background-image: url('/assets/images/sprite.png');
	background-repeat: no-repeat;
	background-position: top -3px left -142px;
}
.social-wrapper a .youtube{
	background-image: url('/assets/images/sprite.png');
	background-repeat: no-repeat;
	background-position: top -3px left -191px;
}
.social-wrapper a .istagram{
	background-image: url('/assets/images/sprite.png');
	background-repeat: no-repeat;
	background-position: top -3px left -243px;
}
.hotline-wrapper{
	background-image: url('/assets/images/sprite.png');
	background-repeat: no-repeat;
	background-position: bottom 1px left 0;
	position: absolute;
	top: 0;
	left: 50%;
	width: 410px;
	margin-left: -205px;
	height: 100%;
}
.search-wrapper{
	float: right;
	height: 100%;
	width: 253px;
	padding-top: 28px;
}
.input-wraaper{
	background-image: url('/assets/images/sprite.png');
	background-repeat: no-repeat;
	background-position: bottom -24px left -453px;
	height: 30px;
}
.input-search{
	float: left;
    height: 30px;
    width: 218px;
    background: transparent;
    border: 0;
    padding-left: 10px;
    color: #fff;
    padding-right: 5px;
}
.input-search:focus,.input-search:active{
	border: 0;
}
.input-submit{
	width: 35px;
    height: 30px;
    background: transparent;
    border: 0;
}
/*content center*/
.content-index-wrapper{
	background-color: #342607;
}
.content-index{
	padding-left: 55px;
	padding-right: 55px;
	min-height: 500px;
}
.content-index-header{
	height: 65px;
	background-image: url('/assets/images/sprite.png');
	background-repeat: no-repeat;
	background-position: bottom -397px left -51px;
	width: 700px;
	float: none;
	margin: 30px auto;
	color: transparent;
	text-align: center;
	margin-bottom: 0;
}
.content-index-block{
	padding-top: 60px;
	min-height: 500px;
	background-image: url('/assets/images/bg-content.png');
	background-repeat: no-repeat;
	background-position: top 0 left 0;
	background-size: 100% 758px;
    padding-bottom: 30px;
}
.content-index-item{
	width: 208px;
	height: 208px;
	background-image: url('/assets/images/sprite.png');
	background-repeat: no-repeat;
	background-position: top -95px left -104px;
	float: left;
	padding: 5px;
	margin-right: 28px;
    margin-left: 28px;
}
.content-index-item img{
	max-width: 100%;
	width: 100%;
	border-radius: 25px;
	height: 100%;
	max-height: 100%;
}
.content-item-title{
	text-align: center;
	padding-top: 15px;
	color: #d8b737;
	font-size: 16px;
	height: 60px;
	overflow: hidden;
}
.content-index-item a:hover{
	text-decoration: none;
}
.blog-wrapper{
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 75px;
}
.blog-left{
	height: 370px;
	background-color: #c8aa44;
	padding: 5px;
	width: 460px;
}
.blog-left img{
	max-width: 100%;
	width: 100%;
	height: 100%;
}
.blog-info{
	position: absolute;
    bottom: 5px;
    left: 5px;
    width: 450px;
    background-color: rgba(0,0,0,0.7);
    text-align: left;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 12px;
    color: #fff;
    font-family: 'Myriad Pro Light';
}
.blog-title{
	font-size: 16px;
	color: #c8aa44;
	text-align: center;
}
.blog-info a:hover{
	text-decoration: none;
}
.blog-right{
	padding-left: 20px;
	width: 550px;
}
.blog-thumbnail{
	background-color: #c8aa44;
	padding: 5px;
	display: block;
	height: 115px;
	width: 140px;
	float: left;
}
.blog-thumbnail img{
	width: 100%;
	max-width: 100%;
	height: 100%;
}
.blog-ritem-title a{
	float: left;
	width: 125px;
    padding-left: 5px;
    font-size: 14px;
    color: #c8aa44;
    font-family: 'Myriad Pro Light';
    font-weight: 600;
}
.blog-ritem{
	margin-bottom: 13px;
}
/*dich vu noi bat*/
.sv-index-wrapper{
	position: relative;
    top: -30px;
    z-index: 0;
    height: 455px;
}
.sv-index-header{
	height: 65px;
    background-image: url('/assets/images/sprite.png');
    background-repeat: no-repeat;
    background-position: bottom -299px left -51px;
    width: 700px;
    float: none;
    margin: 30px auto;
    color: transparent;
    text-align: center;
    margin-bottom: 0;
}
.content-sv-index .carousel-inner{
	height: 270px;
}
.content-sv-index .carousel-control.right{
	background-image: url('/assets/images/sprite.png');
    background-repeat: no-repeat;
    background-position: bottom -361px left 2px;
    height: 40px;
    width: 40px;
    position: absolute;
    right: -16px;
    top: 83px;
    opacity: 1;
}
.content-sv-index .carousel-control.left{
	background-image: url('/assets/images/sprite.png');
    background-repeat: no-repeat;
    background-position: bottom -264px left 2px;
    height: 40px;
    width: 40px;
    position: absolute;
    left: -16px;
    top: 83px;
    opacity: 1;
}
.content-sv-index{
	height: 338px;
    min-height: 100px;
}
.content-tech-wrapper{
	position: relative;
    top: -30px;
}
.content-tech-wrapper .sv-index-header{
	margin-top: 10px;
	background-position: bottom -194px left -51px;
}
/*cong nghe noi bat*/
.content-tech-index{
	height: 910px;
	background-size: 100% 910px;
}
.content-tech-index .content-item-title{
	font-size: 16px;
	text-transform: uppercase;
}
.content-tech-index .tect-item-des{
	font-size: 14px;
	color: #fff;
	font-family: 'Myriad Pro Light';
	height: 120px;
	overflow: hidden;
}
.tech-item-block{
	height: 395px;
}
.video-wrapper{
	width: 480px;
	height: auto;
	text-align: center;
	display: block;
	float: left;
}
.video-header{
	display: inline-block;
	width: 100px;
	height: 20px;
	text-align: left;
	color: #d8b737;
}
.video-icon{
	background-image: url('/assets/images/sprite.png');
    background-repeat: no-repeat;
    background-position: top 0 left -400px;
    float: left;
    width: 30px;
    height: 100%;
}
.video-player{
	width: 100%;
	height: 372px;
	background-color: #000000;
	margin-top: 5px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.album-wrapper{
	float: right;
}
.album-icon {
	background-image: url('/assets/images/sprite.png');
    background-repeat: no-repeat;
    background-position: top 0 left -328px;
    float: left;
    width: 30px;
    height: 100%;
}
.album-block{
	height: 370px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 5px;
	margin-top: 5px;
}
.album-block::-webkit-scrollbar {
    width: 1em;
}
 
.album-block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ddce9a;
}
 
.album-block::-webkit-scrollbar-thumb {
  background-color: #b38d2e;
  outline: 1px solid #b38d2e;
}
.album-item{
	width: 220px;
	height: 178px;
	float: left;
	background-color: #c8aa44;
	padding: 5px;
	position: relative;
	margin-left: 15px;
    margin-bottom: 15px;
}
.album-item:nth-of-type(odd){
	margin-left: 0;
}
.album-item img{
	width: 100%;
	height: 100%;
}
.album-item-des{
	position: absolute;
	top: 5px;
	left: 5px;
	width: 210px;
    height: 168px;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	padding: 5px;
	font-family: 'Myriad Pro Light';
	opacity: 0;
	transition: transform 400ms ease, opacity 400ms ease;
	overflow: hidden;
}
.album-item:hover .album-item-des{
	opacity: 1;
}
/*Khach hang noi ve TMV*/
.content-testi-wrapper .content-index{
	top: -30px;
}
.content-testi-wrapper .sv-index-header {
	margin-top: 0;
	background-position: bottom -96px left -51px;
}
.content-testi-wrapper .content-index-item{
	width: 307px;
    padding-right: 8px;
    height: 228px;
    padding-bottom: 8px;
    background-position: top 0 left -857px;
    padding-top: 6px;
    margin-right: 23px;
    margin-left: 23px;
}
.testi-des{
	font-size: 14px;
	color: #fff;
	font-family: 'Myriad Pro Light';
	text-align: left;
}
.content-testi-wrapper .content-item-title{
	height: 40px;
}
.content-testi-wrapper .carousel-inner{
	height: 320px;
}
.content-testi-wrapper .carousel-control.right,.content-testi-wrapper .carousel-control.left{
	top: 93px;
}
.content-testi-index{
	height: 400px;
}

/*Khuyen mai*/
.content-km-wrapper{
	height: 742px;
	background-image: url('/assets/images/back-khuyenmai.png');
	background-position: top -23px left -2px;
	background-repeat: no-repeat;
	background-color: #342607;
	padding-top: 40px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 13px 22px rgba(128, 128, 128, 0.6);
    z-index: 100;
}
.km-block{
	width: 320px;
	float: left;
	margin-right: 60px;
}
.km-block .block-header{
	color: #fff;
	font-size: 24px;
	background: -webkit-linear-gradient(#fed675, #ac812d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
}
.km-block img{
	width: 100%;
	max-width: 100%;
	height: 240px;
	box-shadow: #474747 12px 13px 6px -7px;
}
.art-title{
	color: #342607;
	font-size: 18px;
	padding-top: 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.art-des{
	font-size: 16px;
	color: #ffffff;
	font-family: 'Myriad Pro Light';
}
.art-list{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 15px;
}
.art-list li{
	width: 100%;
	height: auto;
	padding-bottom: 10px;
	position: relative;
	padding-left: 15px;
}
.art-list li:after{
	content: "";
	width: 10px;
	height: 10px;
	background-color: #ffc139;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 3px;
}
.art-list li:last-child{
	padding-bottom: 0;
}
.art-list li a{
	display: inline-block;
	height: 100%;
	width: 100%;
	font-size: 14px;
	color: #342607;
}
.view-more{
	float: right;
	color: #ffba33;
}
.dk-service{
	width: 350px;
	float: left;
	padding-top: 25px;
	padding-left: 50px;
}
.tv-block{
	margin: 0;
}
.dk-service-header{
	width: 100%;
	display: block;
	height: 95px;
	background-image: url('/assets/images/sprite.png');
    background-repeat: no-repeat;
    background-position: top 0 left -439px;
}
.dk-service .form-group label{
	color: #ffffff;
	font-size: 16px;
	font-family: 'Myriad Pro Light';
	line-height: 15px;
	font-weight: normal;
}
.dk-service .form-control{
	background-color: #ddce9a;
	border-radius: 15px;
	box-shadow: #333333 -14px 15px 26px -13px inset;
	color: #fce092;
	font-family: 'Myriad Pro Light';
}
.dk-service textarea.form-control{
	height: 95px;
}
.submit-wrapper{
	height: 112px;
	width: 310px;
	background-image: url('/assets/images/sprite.png');
    background-repeat: no-repeat;
    background-position: top -253px left -868px;
}
.submit-wrapper button{
	width: 100%;
    height: 48px;
    line-height: 56px;
    padding: 0;
    color: #ffc139;
    background: none;
    font-size: 18px;
    border: 0;
}
.submit-wrapper button:hover{
	color: #fff;
    background: none;
    border: 0;
}

/*Kien thuc lam dep*/
.content-kt-wrapper{
	height: 535px;
	background-color: #ddce9a;
	background-image: url('/assets/images/back-kt.png');
    background-repeat: no-repeat;
    background-position: right -155px top 27px;
    background-size: auto 409px;
}
.kt-block{
	padding-top: 35px;
	padding-left: 0;
}
.kt-block-header{
	background-image: url('/assets/images/sprite.png');
    background-repeat: no-repeat;
    background-position: top -134px left -362px;
    height: 62px;
    width: 444px;
    margin-bottom: 40px;
}
.thumbnail-larg{
	width: 400px;
	height: 323px;
	float: left;
	position: relative;
}
.thumbnail-larg img{
	max-width: 100%;
	height: 100%;
	width: 100%;
	box-shadow: #474747 12px 13px 6px -7px;
}
.thumbnail-larg .blog-info{
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
}
.thumbnail-larg .blog-title{
	text-align: left;
	font-family: 'Myriad Pro Bold';
	color: #f0dd91;
}
.thumbnail-small{
	float: left;
    width: 370px;
    margin-left: 10px;
}
.thumbnail-small-item{
	width: 100%;
    margin-bottom: 1px;
    display: inline-block;
    float: left;
}
.thumbnail-small-item img{
	float: left;
	width: 135px;
    height: 100px;
    box-shadow: #474747 12px 13px 6px -7px;
}
.thumbnail-small-info{
	float: left;
    width: 232px;
    padding-left: 10px;
}
.thumbnail-small-info a{
	font-size: 14px;
	color: #301d05;
}
.thumbnail-small-info p{
	color: #301d05;
	font-family: 'Myriad Pro Light';
}

/*Footer 1*/
.content-footer1-wrapper{
	height: 365px;
    background-image: url('/assets/images/back-khuyenmai.png');
    background-position: top -11px left -113px;
    background-repeat: no-repeat;
    background-size: 120% 387px;
    z-index: 100;
}
.footer1-block{
	padding-top: 30px;
	padding-left: 0;
	padding-right: 0;
	min-height: 360px;
}
.footer1-item{
	width: 180px;
	float: left;
	margin-right: 25px;
}
.footer1-title{
	font-size: 16px;
	color: #ddc178;
	padding-bottom: 10px;
	font-family: 'Myriad Pro Light';
	font-weight: 600;
}
.footer1-item ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer1-item ul li{
	width: 100%;
	display: block;
	padding-left: 15px;
	position: relative;
	margin-bottom: 10px;
}
.footer1-item ul li:after{
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #1b1c1e;
	border: 1px solid #9c6e2a;
}
.footer1-item ul li a{
	display: inline-block;
	height: 100%;
	width: 100%;
	font-size: 16px;
	color: #301d05;
	font-family: 'Myriad Pro Light';
	font-weight: 600;
}
.map-wrapper{
	width: 350px;
    height: 250px;
    text-align: center;
    float: left;
    background-color: #ddce9a;
}
.view-map{
	width: 350px;
	float: right;
	text-align: left;
	font-size: 14px;
	color: #ffefba;
	line-height: 25px;
}

/*Footer 2*/
.content-footer2-wrapper{
	height: 267px;
	overflow: hidden;
}
.footer2-content{
	padding-left: 0;
	padding-right: 0;
	padding-top: 15px;
}
.logo-footer{
	width: 120px;
	height: 115px;
	float: left;
	margin-top: 30px;
}
.logo-footer img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
.fan-facebook{
	float: left;
	width: 200px;
	margin-left: 20px;
	height: 150px;
	background-color: #ddce9a;
}
.time-work{
	width: 235px;
	height: 150px;
	border: 1px solid #9e7a2c;
	float: left;
	margin-left: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	color: #ddce9a;
	font-size: 16px;
}
.time-work span{
	font-family: 'Myriad Pro Light';
}
.social-footer{
	float: left;
	height: 50px;
}
.social-footer a{
	float: left;
    display: inline-block;
    width: auto;
    height: 100%;
    padding-right: 20px;
    padding-top: 0;
    padding-left: 10px;
}
.subscribe-wrapper{
	float: right;
	width: 240px;
	text-align: center;
} 
.subscribe-wrapper .text-input{
	width: 100%;
	background-color: #ddce9a;
    border-radius: 15px;
    box-shadow: #333333 -14px 15px 26px -13px inset;
    color: #4b3800;
    font-family: 'Myriad Pro Light';
    height: 37px;
    border: 0;
    text-align: center;
    font-size: 14px;
}
.submit-input{
	background-image: url('/assets/images/sprite.png');
    background-repeat: no-repeat;
    background-position: top -225px left -367px;
    width: 216px;
    border: 0;
    height: 47px;
    background-color: transparent;
    font-size: 16px;
    color: #f6dd8e;
    text-align: center;
    margin-top: 10px;
}
.website-infor{
	float: left;
	width: 100%;
	height: 50px;
	margin-top: 15px;
}
.website-infor p{
	color: #f3d987;
	font-family: 'Myriad Pro Light';
	margin: 0;
}
.copy-right{
	width: 100%;
	color: #f3d987;
	font-family: 'Myriad Pro Light';
	font-size: 16px;
	float: left;
	text-align: center;
}

/*Category*/
.contact-category {
    top: 370px;
    z-index: 99999;
}
.head-line-category{
	background:none;
	margin-top: 35px;
	z-index: 9999;
}
.category-content{
	background: none;
}
.cate-header{
	background-position: bottom -18px right 0;
	font-size: 24px;
    color: #ddc178;
    padding-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 67px;
}
.cate-item{
	width: 230px;
	height: 308px;
	background-position: bottom -115px right -379px;
    padding: 7px;
    margin-bottom: 240px;
    float: none;
    display: inline-block;
}
.category-content .content-index-block{
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	background-position: center;
    background-size: 1300px 100%;
    padding-top: 100px;
}
.cate-item:nth-of-type(1n){
	margin-left: 0;
}
.cate-item:nth-of-type(4n){
	margin-right: 0;
}
.cate-item p{
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	font-family: 'Myriad Pro Light';
}
.viewmore-cat{
	font-size: 14px;
	color: #efc351;
}

/*Single*/
.menu-sg-left{
	width: 250px;
	height: auto;
	float: left;
}
.menu-sg-header{
	background-image: url('/assets/images/sprite.png');
    background-repeat: no-repeat;
    background-position: top -7px right -44px;
    height: 50px;
    text-align: center;
    line-height: 49px;
    color: #ddce9a;
    font-size: 17px;
}
.sg-content .content-index-block{
	padding-top: 50px;
    background-position: center top 0;
    background-size: 1300px 100%;
    padding-bottom: 85px;
}
.list-art-sg{
	padding: 0;
	margin: 0;
	list-style: none;
}
.list-art-sg li{
	width: 100%;
	height: auto;
	display: block;
}
.list-art-sg li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #ddce9a;
	font-size: 17px;
	font-family: 'Myriad Pro Light';
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}
.sg-content .content-index{
	padding-left: 0;
	padding-right: 0;
	
}
.content-sg-wrapper{
	width: 667px;
	min-height: 500px;
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	color: #ffffff;
	font-size: 16px;
	line-height: 25px;
	font-family: 'Myriad Pro Light';
}
.sg-thmbnail{
	float: none;
    margin: 0 auto;
    width: 307px;
    padding-right: 7px;
    height: 228px;
    padding-bottom: 8px;
    background-image: url('/assets/images/sprite.png');
    background-repeat: no-repeat;
    background-position: top 0 left -857px;
    padding-top: 5px;
    padding-left: 7px;
    margin-top: 45px;
}
.sg-thmbnail img{
	max-width: 100%;
    width: 100%;
    border-radius: 25px;
    height: 100%;
    max-height: 100%;
}
.art-sg-title{
	text-align: center;
	color: #e2cd5c;
	font-size: 24px;
}
.art-info{
	text-align: center;
	font-size: 18px;
	color: #e2cd5c;
	margin: 0;
}
.sg-price{
	margin-bottom: 37px;
}
.art-info span{
	font-family: 'Myriad Pro Light';
	padding-left: 5px;
}
.menu-sg-right{
	float: right;
	width: 250px;
	height: auto;
}
.blog-list-wrapper{
	padding-top: 10px;
	display: block;
	width: 100%;
}
.blog-list-wrapper ul{
	padding: 0;
	margin: 0;
	display: inline-block;
}
.blog-list-wrapper ul li{
	width: 100%;
	display: block;
	float: left;
	margin-bottom: 15px;
}
.blog-list-wrapper img{
	width: 110px;
	height: 110px;
	float: left;
}
.blog-list-wrapper .blog-list-item{
	float: left;
	width: 140px;
	padding-left: 9px;
	color: #ddce9a;
	font-size: 14px;
}
.contact-sg-wrapper{
	float: none;
	display: inline-block;
	color: #ddce9a;
	font-size: 16px;
	background-image: url('/assets/images/back-contact.png');
	background-repeat: no-repeat;
	width: 585px;
	height: 76px;
	text-align: left;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 11px;
	margin-top: 35px;
	margin-bottom: 35px;
}
.contact-sg-wrapper span{
	font-size: 24px;
	font-family: 'Myriad Pro Bold';
}
.sv-more-header{
	width: 207px;
	height: 55px;
	background-image: url('/assets/images/sprite.png');
	background-repeat: no-repeat;
	background-position: bottom -95px right -130px;
	float: none;
	margin: 0 auto;
	font-size: 20px;
	color: #ddc759;
	text-align: center;
	line-height: 55px;
	font-family: 'Myriad Pro Bold';
}
.sv-more-item{
	position: relative;
    float: left;
    width: 195px;
    height: 150px;
    border: 2px solid #d8c152;
    margin-right: 10px;
    margin-top: 10px;
}
.sv-more-item:nth-of-type(4n){
	margin-right: 0;
}
.sv-more-item img{
	width: 100%;
	height: 100%;
}
.sv-more-itemdes{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	color: #ffd25e;
	text-align: center;
	padding: 5px;
	font-family: 'Myriad Pro Bold';
	border-top: 2px solid #d8c152;
	padding-top: 7px;
}
.dk-sv-single .dk-service{
	float: none;
	margin: 0 auto;
}