.main-menu-right {
    display: block;
    padding-left: 105px;
    text-align: center;
}
.main-menu-right li{
    float:none;
    display:inline-block;
}
/*.sg-content .content-index-block { 
padding-top: 34px;
}*/
.custom-content {
    margin-top: 15px;
    padding-top: 34px !important;
}
.hd-content-left p {
    color: #D7A83E;
}
.banner-top-wraper {
    height: 446px;
}
