@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('../fonts/Myriad/MYRIADPRO-BOLD.eot');
    src: local('☺'), url('../fonts/Myriad/MYRIADPRO-BOLD.ttf') format('truetype'), url('../fonts/Myriad/MYRIADPRO-BOLD.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro Light';
    src: url('../fonts/Myriad/MYRIADPRO-BOLD.eot');
    src: local('☺'), url('../fonts/Myriad/MYRIADPRO-LIGHT_0.ttf') format('truetype'), url('../fonts/Myriad/MYRIADPRO-LIGHT_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    padding: 0;
    margin: 0;
    height: auto;
    display: block;
    color: #fce092;
    font-family: 'Myriad Pro Bold';
    background-color: #342607;
}
body a{
    color: #e2cd5c;
}
a:hover{
    text-decoration: none;
}
/*width: 1170px*/
.none-padding{
    padding: 0;
}
.none-marign{
    margin: 0;
}
.content-center{
    width: 1170px;
    height: 100%;
    display: block;
    float: none;
    margin: 0 auto;
    position: relative;
}
/*Header*/
.header-wrapper{
    height: 138px;
    background-color: #4b3800;
    display: inline-block;
}
.header-content{
    width: 1170px;
    height: 100%;
    display: block;
    float: none;
    margin: 0 auto;
    position: relative;
}
.hd-content-left{
    float: left;
    width: 50%;
    display: block;
    height: 100%;
    padding-top: 30px;
    z-index: 2;
    position: relative;
}
.hd-content-left p{
    color: #D7A83E;
    font-size: 14px;
    font-family: 'Myriad Pro Bold';
    margin: 0;
}
.hd-content-right{
    float: right;
    width: 50%;
    display: block;
    height: 100%;
    z-index: 2;
    position: relative;
    padding-top: 25px;
}
.hd-banner{
    width: 526px;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 100%;
    margin-left: -263px;
    padding-top: 25px;
    z-index: 1;
}
.hd-banner img{
    max-width: 100%;
}
.menu-header{
    margin: 0;
    padding: 0;
    float: right;
    width: auto;
    height: 20px;
    z-index: 1;
}
.menu-header li{
    float: left;
    text-align: left;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}
.menu-header li:last-child{
    padding-right: 0;
}

.menu-header li a:after{
    position: absolute;
    right: 1px;
    top: 0;
    width: 1px;
    content: "|";
    color: #D7A83E;
    font-family: 'Myriad Pro Bold';
}
.menu-header li:last-child a:after{
    content: "";
}
.menu-header li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #D7A83E;
    font-family: 'Myriad Pro Bold';
}
.lang-wrapper{
    float: right;
    height: 18px;
    padding: 0;
    margin: 0;
    display: block;
    width: 200px;
}
.lang-wrapper a{
    float: right;
    height: 100%;
    display: inline-block;
    width: 30px;
    color: transparent;
    margin-left: 3px;
}
.lang-wrapper a span{
    opacity: 0.7;
}
.lang-wrapper a .active{
    opacity: 1;
}
.lang-wrapper a:first-child span{
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: -807px 0;
    height: 100%;
    width: 100%;
    float: left;
}
.lang-wrapper a:last-child span{
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: -775px 0;
    height: 100%;
    width: 100%;
    float: left;
}
.contact-wrapper{
    width: 70px;
    min-height: 200px;
    position: fixed;
    right: 0;
    top: 200px;
    display: block;
    z-index: 9999999;
}
.contact-wrapper a{
    display: inline-block;
    width: 100%;
    height: 80px;
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    margin-bottom: 5px;
}
.contact-wrapper a.contact-km{
    background-position: -769px -338px;
}
.contact-wrapper a.contact-tv{
    background-position: -769px -419px;
}
.contact-wrapper a.contact-facebook{
    background-position: -769px -502px ;
}
.contact-wrapper a.contact-phone{
    background-position: -769px -585px;
}
/*Main menu*/
.main-menu-wrapper{
    background-image: url("../images/back-menutop.png");
    background-position: center;
    background-repeat: repeat;
    background-size: 2500px 200px;
    display: inline-block;
    height: 150px;
    width: 100%;
}
.main-menu-left{
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
    height: 100%;
}
.main-menu-left li{
    float: left;
    height: 100%;
    display: block;
    position: relative;
}
.main-menu-left li a{
    font-size: 15px;
    font-family: 'Myriad Pro Bold';
    color: #ffffff;
    display: inline-block;
    height: 100%;
    width: 100%;
    line-height: 150px;
    padding-right: 10px;
}
.main-menu-left li a.active,.main-menu-left li a:hover,.main-menu-left li.active a{
    color: #d5881c;
    text-decoration: none;
}
.main-menu-left li ul{
    position: absolute;
    height: auto;
    width: 250px;
    background-color: rgba(0,0,0,0.7);
    top: 95px;
    left: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
    z-index: 9999;
}
.main-menu-left li ul li{
    float: left;
    width: 100%;
    height: 35px;
    display: block;
}
.main-menu-left li ul li a{
    display: inline-block;
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 0px;
    text-align: left;
    font-size: 14px;
    line-height: 35px;
    padding-left: 10px;
    font-family: 'Myriad Pro Light';
    font-weight: 600;
}
.main-menu-left li:hover ul{
    display: block;
}
.main-menu-right{
    padding-left: 105px;
}
.logo-top{
    position: absolute;
    top: -13px;
    left: 50%;
    width: 180px;
    margin-left: -90px;
    z-index: 11;
}
/*Banner top*/
.banner-top-wraper{
    height: 470px;
    display: inline-block;
    background-color: #ddce9a;
    width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.slide-wrapper{
    position: relative;
}
.slide-wrapper img{
    max-width: 100%;
    height: auto;
    min-height: 100%;
}
.carousel-bannertop{
    position: absolute;
    left: 12px !important;
    top: 25px;
    right: auto;
    width: 40px;
    height: 100%;
    bottom: auto;
    z-index: 100;
    margin: 0;
}
.carousel-bannertop li,.carousel-bannertop li.active{
    float: left;
    width: 100%;
    height: 35px;
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: -770px -289px;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: #f2b934;
    text-indent: 0;
    line-height: 38px;
    opacity: 0.7; 
    margin: 0;
    margin-bottom: 23px;
}
.carousel-bannertop li.active{
    opacity: 1;
}
.carousel{
    height: 100%;
}
.carousel-inner{
    height: 100%;
}
.carousel-inner>.item{
    height: 100%;
}
/*Head line*/
.head-line-wrapper{
    height: 85px;
    display: inline-block;
    position: relative;
    width: 100%;
    background-image: url('../images/bg-headline.png');
    background-repeat: repeat;
    background-position: -19px -22px;
    background-attachment: scroll;
}
.head-line-content{
    padding-left: 10px;
    padding-right: 10px;
}
.social-wrapper{
    float: left;
    height: 100%;
    display: block;
}
.social-wrapper a{
    float: left;
    display: inline-block;
    width: auto;
    height: 100%;
    padding-right: 20px;
    padding-top: 26px;
}
.social-wrapper a span{
    width: 35px;
    height: 35px;
    display: block;
}
.social-wrapper a .facebook{
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: -95px -3px;
}
.social-wrapper a .twitter{
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: -142px -3px;
}
.social-wrapper a .youtube{
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position:-191px -3px;
}
.social-wrapper a .istagram{
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: -243px -3px;
}
.hotline-wrapper{
    /*	background-image: url('../images/sprite.png');
            background-repeat: repeat;
            background-position: bottom 1px left 0;*/
    position: absolute;
    top: 0;
    left: 50%;
    width: 410px;
    margin-left: -205px;
    height: 100%;
    background-position: bottom -18px right 0;
    font-size: 40px;
    color: #ddc178;
    padding-bottom: 10px;
    font-weight: 600;
    line-height: 93px;
}
.hotline-wrapper span{
    float: left;
    font-size: 24px;
    font-family: 'Myriad Pro Light';
    padding-right: 5px;
}
.search-wrapper{
    float: right;
    height: 100%;
    width: 253px;
    padding-top: 28px;
}
.input-wraaper{
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: -453px -744px;
    height: 30px;
}
.input-search{
    float: left;
    height: 30px;
    width: 218px;
    background: transparent;
    border: 0;
    padding-left: 10px;
    color: #fff;
    padding-right: 5px;
}
.input-search:focus,.input-search:active{
    border: 0;
}
.input-submit{
    width: 35px;
    height: 30px;
    background: transparent;
    border: 0;
}
/*content center*/
.content-index-wrapper{
    background-color: #342607;
}
.content-index{
    padding-left: 55px;
    padding-right: 55px;
    min-height: 500px;
}
.content-index-header{
    height: 65px;
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: left -51px top -337px;
    width: 700px;
    float: none;
    margin: 30px auto;
    color: transparent;
    text-align: center;
    margin-bottom: 0;
}
.content-index-block{
    padding-top: 60px;
    min-height: 500px;
    background-image: url('../images/bg-content.png');
    background-repeat: repeat;
    background-position: 0  0;
    background-size: 100% 758px;
    padding-bottom: 30px;
}
.content-index-item{
    width: 208px;
    height: 208px;
    /*background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: top -95px left -104px;*/
    float: left;
    padding: 0;
    margin-right: 28px;
    margin-left: 28px;
    border: 3px solid #c8aa44;
    border-radius: 50%;
}
.content-index-item img{
    max-width: 100%;
    width: 100%;
    /*border-radius: 25px;*/
    height: 100%;
    max-height: 100%;
    border-radius: 50%;
}
.content-item-title,.content-item-title a{
    text-align: center;
    padding-top: 15px;
    color: #d8b737;
    font-size: 16px;
    height: 60px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}
.content-index-item a:hover{
    text-decoration: none;
}
.blog-wrapper{
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 75px;
}
.blog-left{
    height: 370px;
    background-color: #c8aa44;
    padding: 5px;
    width: 460px;
}
.blog-left img{
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.blog-info{
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 450px;
    background-color: rgba(0,0,0,0.7);
    text-align: left;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 12px;
    color: #fff;
    font-family: 'Myriad Pro Light';
}
.blog-title{
    font-size: 20px;
    color: #c8aa44;
    text-align: center;
    font-weight: 600;
}
.blog-info a:hover{
    text-decoration: none;
}
.blog-right{
    padding-left: 20px;
    width: 550px;
}
.blog-thumbnail{
    background-color: #c8aa44;
    padding: 5px;
    display: block;
    height: 115px;
    width: 140px;
    float: left;
}
.blog-thumbnail img{
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.blog-ritem-title a{
    float: left;
    width: 125px;
    padding-left: 5px;
    font-size: 14px;
    color: #c8aa44;
    font-family: 'Myriad Pro Light';
    font-weight: 600;
}
.blog-ritem{
    margin-bottom: 13px;
}
/*dich vu noi bat*/
.sv-index-wrapper{
    position: relative;
    top: -30px;
    z-index: 0;
    height: 455px;
}
.sv-index-header{
    height: 65px;
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: -51px -437px;
    width: 700px;
    float: none;
    margin: 30px auto;
    color: transparent;
    text-align: center;
    margin-bottom: 0;
}
.content-sv-index .carousel-inner{
    height: 270px;
}
.content-sv-index .carousel-control.right{
    background-image: url('../images/sprite.png');
    background-position: 2px -398px;
    background-repeat: repeat;
    height: 40px;
    width: 40px;
    position: absolute;
    right: -16px;
    top: 83px;
    opacity: 1;
}
.content-sv-index .carousel-control.left{
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: 2px -492px;
    height: 40px;
    width: 40px;
    position: absolute;
    left: -16px;
    top: 83px;
    opacity: 1;
}
.content-sv-index{
    height: 338px;
    min-height: 100px;
}
.content-tech-wrapper{
    position: relative;
    top: -30px;
}
.content-tech-wrapper .sv-index-header{
    margin-top: 10px;
    background-position: -51px -541px;
}
/*cong nghe noi bat*/
.content-tech-index{
    height: 910px;
    background-size: 100% 910px;
}
.content-tech-index .content-item-title{
    font-size: 16px;
    text-transform: uppercase;
}
.content-tech-index .tect-item-des{
    font-size: 14px;
    color: #fff;
    font-family: 'Myriad Pro Light';
    height: 120px;
    overflow: hidden;
}
.tech-item-block{
    height: 395px;
}
.video-wrapper{
    width: 480px;
    height: auto;
    text-align: center;
    display: block;
    float: left;
}
.video-header{
    display: inline-block;
    width: 100px;
    height: 20px;
    text-align: left;
    color: #d8b737;
}
.video-icon{
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: -400px 0;
    float: left;
    width: 30px;
    height: 100%;
}
.video-player{
    width: 100%;
    height: 372px;
    background-color: #000000;
    margin-top: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.album-wrapper{
    float: right;
}
.album-icon {
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: -328px 0;
    float: left;
    width: 30px;
    height: 100%;
}
.album-block{
    height: 370px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 5px;
    margin-top: 5px;
}
.album-block::-webkit-scrollbar {
    width: 1em;
}

.album-block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ddce9a;
}

.album-block::-webkit-scrollbar-thumb {
    background-color: #b38d2e;
    outline: 1px solid #b38d2e;
}
.album-item{
    width: 220px;
    height: 178px;
    float: left;
    background-color: #c8aa44;
    padding: 3px;
    position: relative;
    margin-left: 15px;
    margin-bottom: 15px;
}
.album-item:nth-of-type(odd){
    margin-left: 0;
}
.album-item img{
    width: 100%;
    height: 100%;
}
.album-item-des{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 210px;
    height: 168px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 5px;
    font-family: 'Myriad Pro Light';
    opacity: 0;
    transition: transform 400ms ease, opacity 400ms ease;
    overflow: hidden;
}
.album-item:hover .album-item-des{
    opacity: 1;
}
/*Khach hang noi ve TMV*/
.content-testi-wrapper .content-index{
    top: -30px;
}
.content-testi-wrapper .sv-index-header {
    margin-top: 0;
    background-position: -51px -639px;
}
.content-testi-wrapper .content-index-item{
    width: 307px;
    padding-right: 0;
    height: 228px;
    padding-bottom: 0;
    background-position: -857px 0;
    padding-top: 0;
    margin-right: 23px;
    margin-left: 23px;
}
.testi-des{
    font-size: 14px;
    color: #fff;
    font-family: 'Myriad Pro Light';
    text-align: left;
}
.content-testi-wrapper .content-item-title{
    height: 40px;
}
.content-testi-wrapper .carousel-inner{
    height: 360px;
}
.content-testi-wrapper .carousel-control.right,.content-testi-wrapper .carousel-control.left{
    top: 93px;
}
.content-testi-index{
    height: 425px;
}

/*Khuyen mai*/
.content-km-wrapper{
    height: 742px;
    background-image: url('../images/back-khuyenmai.png');
    background-position: -2px -23px;
    background-repeat: no-repeat;
    background-size: 2028px 789px;
    background-color: #342607;
    padding-top: 40px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 13px 22px rgba(128, 128, 128, 0.6);
    z-index: 100;
}
.km-block{
    width: 320px;
    float: left;
    margin-right: 60px;
}
.km-block .block-header{
    color: #fff;
    font-size: 24px;
    background: -webkit-linear-gradient(#fed675, #ac812d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    width: 100%;
    padding-bottom: 15px;
}
.km-block img{
    width: 100%;
    max-width: 100%;
    height: 240px;
    box-shadow: #474747 12px 13px 6px -11px;
}
.art-title{
    color: #342607;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.art-des{
    font-size: 16px;
    color: #ffffff;
    font-family: 'Myriad Pro Light';
}
.art-list{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 15px;
}
.art-list li{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    position: relative;
    padding-left: 15px;
}
.art-list li:after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #ffc139;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 3px;
}
.art-list li:last-child{
    padding-bottom: 0;
}
.art-list li a{
    display: inline-block;
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: #342607;
}
.view-more{
    float: right;
    color: #ffba33;
}
.dk-service{
    width: 350px;
    float: left;
    padding-top: 25px;
    padding-left: 50px;
}
.tv-block{
    margin: 0;
}
.dk-service-header{
    width: 100%;
    display: block;
    height: 95px;
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: -439px 0;
}
.dk-service .form-group label{
    color: #ffffff;
    font-size: 16px;
    font-family: 'Myriad Pro Light';
    line-height: 15px;
    font-weight: normal;
}
.dk-service .form-control{
    background-color: #ddce9a;
    border-radius: 15px;
    box-shadow: #333333 -14px 15px 26px -13px inset;
    color: #fff;
    font-family: 'Myriad Pro Light';
}
.dk-service textarea.form-control{
    height: 95px;
}
.submit-wrapper{
    height: 112px;
    width: 310px;
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: -868px -253px;
}
.submit-wrapper button{
    width: 100%;
    height: 48px;
    line-height: 56px;
    padding: 0;
    color: #ffc139;
    background: none;
    font-size: 18px;
    border: 0;
}
.submit-wrapper button:hover{
    color: #fff;
    background: none;
    border: 0;
}

/*Kien thuc lam dep*/
.content-kt-wrapper{
    height: 535px;
    background-color: #ddce9a;
    background-image: url('../images/back-kt.png');
    background-repeat: no-repeat;
    background-position: 130% 27px;
    background-size: auto 409px;
}
.kt-block{
    padding-top: 35px;
    padding-left: 0;
}
.kt-block-header{
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: -362px -134px;
    height: 62px;
    width: 444px;
    margin-bottom: 40px;
}
.thumbnail-larg{
    width: 400px;
    height: 323px;
    float: left;
    position: relative;
}
.thumbnail-larg img{
    max-width: 100%;
    height: 100%;
    width: 100%;
    box-shadow: #474747 12px 13px 6px -7px;
}
.thumbnail-larg .blog-info{
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
}
.thumbnail-larg .blog-title{
    text-align: left;
    font-family: 'Myriad Pro Bold';
    color: #f0dd91;
}
.thumbnail-small{
    float: left;
    width: 370px;
    margin-left: 10px;
}
.thumbnail-small-item{
    width: 100%;
    margin-bottom: 1px;
    display: inline-block;
    float: left;
}
.thumbnail-small-item img{
    float: left;
    width: 135px;
    height: 100px;
    box-shadow: #474747 12px 13px 6px -11px;
}
.thumbnail-small-info{
    float: left;
    width: 232px;
    padding-left: 10px;
}
.thumbnail-small-info a{
    font-size: 14px;
    color: #301d05;
}
.thumbnail-small-info p{
    color: #301d05;
    font-family: 'Myriad Pro Light';
}

/*Footer 1*/
.content-footer1-wrapper{
    height: 365px;
    background-image: url('../images/back-khuyenmai.png');
    background-position: -113px -11px;
    background-repeat: repeat;
    background-size: 120% 387px;
    z-index: 100;
}
.footer1-block{
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    min-height: 360px;
    float: left;
    width: 865px;
    padding-left: 40px;
}
.footer1-item{
    width: 180px;
    float: left;
    margin-right: 25px;
}
.footer1-title{
    font-size: 16px;
    color: #ddc178;
    padding-bottom: 10px;
    font-family: 'Myriad Pro Light';
    font-weight: 600;
}
.footer1-item ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer1-item ul li{
    width: 100%;
    display: block;
    padding-left: 15px;
    position: relative;
    margin-bottom: 10px;
}
.footer1-item ul li:after{
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1b1c1e;
    border: 1px solid #9c6e2a;
}
.footer1-item ul li a{
    display: inline-block;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #301d05;
    font-family: 'Myriad Pro Light';
    font-weight: 600;
}
.map-wrapper{
    width: 350px;
    height: 250px;
    text-align: center;
    float: left;
    background-color: #ddce9a;
    margin-top: 35px;
}
.view-map{
    width: 350px;
    float: right;
    text-align: left;
    font-size: 14px;
    color: #ffefba;
    line-height: 25px;
}

/*Footer 2*/
.content-footer2-wrapper{
    height: 267px;
    overflow: hidden;
}
.footer2-content{
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
}
.logo-footer{
    width: 120px;
    height: 115px;
    float: left;
    margin-top: 30px;
}
.logo-footer img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.fan-facebook{
    float: left;
    width: 200px;
    margin-left: 20px;
    height: 150px;
    background-color: #ddce9a;
}
.time-work{
    width: 235px;
    height: 150px;
    border: 1px solid #9e7a2c;
    float: left;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: #ddce9a;
    font-size: 16px;
}
.time-work span{
    font-family: 'Myriad Pro Light';
}
.social-footer{
    float: left;
    height: 50px;
}
.social-footer a{
    float: left;
    display: inline-block;
    width: auto;
    height: 100%;
    padding-right: 20px;
    padding-top: 0;
    padding-left: 10px;
}
.subscribe-wrapper{
    float: right;
    width: 240px;
    text-align: center;
} 
.subscribe-wrapper .text-input{
    width: 100%;
    background-color: #ddce9a;
    border-radius: 15px;
    box-shadow: #333333 -14px 15px 26px -13px inset;
    color: #fff;
    font-family: 'Myriad Pro Light';
    height: 37px;
    border: 0;
    text-align: center;
    font-size: 14px;
}
.submit-input{
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position:-367px -225px;
    width: 216px;
    border: 0;
    height: 47px;
    background-color: transparent;
    font-size: 16px;
    color: #f6dd8e;
    text-align: center;
    margin-top: 10px;
}
.website-infor{
    float: left;
    width: 100%;
    height: 50px;
    margin-top: 15px;
}
.website-infor p{
    color: #f3d987;
    font-family: 'Myriad Pro Light';
    margin: 0;
}
.copy-right{
    width: 100%;
    color: #f3d987;
    font-family: 'Myriad Pro Light';
    font-size: 16px;
    float: left;
    text-align: center;
}

/*Category*/
.contact-category {
    top: 370px;
    z-index: 99999;
}
.head-line-category{
    background:none;
    margin-top: 35px;
    z-index: 9999;
}
.category-content{
    background: none;
}
.cate-header{
    background: rgba(0, 0, 0, 0) none repeat scroll right 0 bottom -18px;
    border: 5px solid #d8c152;
    border-radius: 45px;
    color: #ddc178;
    font-size: 22px;
    font-weight: 600;
    height: auto;
    line-height: 33px;
    padding: 10px 15px;
    position: relative;
    text-transform: uppercase;
    width: 560px;
}
.cate-header p{
    margin: 0;
}
.cate-item{
    width: 100%;
    height: 308px;
    background-position: bottom -115px right -379px;
    padding: 7px;
    margin-left: 0;
    margin-right: 0;
}
.cate-item-wrapper{
    margin-bottom: 20px;
    float: none;
    display: inline-block;
    width: 230px;
    margin-right: 28px;
    height: 540px;
    overflow: hidden;
}
.category-content .content-index-block{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background-position: center;
    background-size: 1300px 100%;
    padding-top: 100px;
}
.cate-item-wrapper:nth-of-type(1n){
    margin-left: 0;
}
.cate-item-wrapper:nth-of-type(4n){
    margin-right: 0;
}
.cate-item p{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Myriad Pro Light';
}
.viewmore-cat{
    font-size: 14px;
    color: #efc351;
}

/*Single*/
.menu-sg-left{
    width: 250px;
    height: auto;
    float: left;
    position: relative;
    z-index: 10;
}
.menu-sg-header{
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: -1203px -7px;
    height: 50px;
    text-align: center;
    line-height: 49px;
    color: #ddce9a;
    font-size: 17px;
}
.menu-sg-header a{
    color: #ddce9a;
    text-decoration: none;
}
.sg-content .content-index-block{
    padding-top: 50px;
    background-position: center top 0;
    background-size: 1300px 100%;
    padding-bottom: 85px;
}
.list-art-sg{
    padding: 0;
    margin: 0;
    list-style: none;
}
.list-art-sg li{
    width: 100%;
    height: auto;
    display: block;
}
.list-art-sg li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #ddce9a;
    font-size: 17px;
    font-family: 'Myriad Pro Light';
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}
.sg-content .content-index{
    padding-left: 0;
    padding-right: 0;

}
.content-sg-wrapper{
    width: 667px;
    min-height: 500px;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Myriad Pro Light';
    z-index: 100;
    position: relative;
}
.content-sg-wrapper img{
    max-width: 100%;
    height: auto;
}
.sg-thmbnail{
    float: none;
    margin: 0 auto;
    width: 307px;
    padding-right: 7px;
    height: 228px;
    padding-bottom: 8px;
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: -857px 0;
    padding-top: 5px;
    padding-left: 7px;
    margin-top: 45px;
}
.sg-thmbnail img{
    max-width: 100%;
    width: 100%;
    border-radius: 25px;
    height: 100%;
    max-height: 100%;
}
.art-sg-title{
    text-align: center;
    color: #e2cd5c;
    font-size: 24px;
}
.art-info{
    text-align: center;
    font-size: 18px;
    color: #e2cd5c;
    margin: 0;
}
.sg-price{
    margin-bottom: 37px;
}
.art-info span{
    font-family: 'Myriad Pro Light';
    padding-left: 5px;
}
.menu-sg-right{
    float: right;
    width: 250px;
    height: auto;
    position: relative;
    z-index: 100;
}
.blog-list-wrapper{
    padding-top: 10px;
    display: block;
    width: 100%;
}
.blog-list-wrapper ul{
    padding: 0;
    margin: 0;
    display: inline-block;
}
.blog-list-wrapper ul li{
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 15px;
}
.blog-list-wrapper img{
    width: 110px;
    height: 110px;
    float: left;
}
.blog-list-wrapper .blog-list-item{
    float: left;
    width: 140px;
    padding-left: 9px;
    color: #ddce9a;
    font-size: 14px;
}
.contact-sg-wrapper{
    float: none;
    display: block;
    color: #ddce9a;
    font-size: 16px;
    background-image: url('../images/back-contact.png');
    background-repeat: repeat;
    width: 585px;
    height: 76px;
    text-align: left;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 11px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin: 0 auto;
}
.contact-sg-wrapper span{
    font-size: 24px;
    font-family: 'Myriad Pro Bold';
}
.sv-more-header{
    width: 207px;
    height: 55px;
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: 338px 151px;
    float: none;
    margin: 0 auto;
    font-size: 20px;
    color: #ddc759;
    text-align: center;
    line-height: 55px;
    font-family: 'Myriad Pro Bold';
}
.sv-more-item{
    position: relative;
    float: left;
    width: 195px;
    height: 150px;
    border: 2px solid #d8c152;
    margin-right: 10px;
    margin-top: 10px;
    min-height: 130px;
}
.sv-more-item:nth-of-type(4n){
    margin-right: 0;
}
.sv-more-item:last-child{
    margin-right: 0;
}
.sv-more-item img{
    width: 100%;
    height: 100%;
}
.sv-more-itemdes{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    color: #ffd25e;
    text-align: center;
    padding: 5px;
    font-family: 'Myriad Pro Bold';
    border-top: 2px solid #d8c152;
    padding-top: 7px;
}
.dk-sv-single .dk-service{
    float: none;
    margin: 0 auto;
}

/*Dang ky tu van*/
.modal-tv{
    width: 513px;
    height: 735px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 130px;
    background-image: url('../images/back-tv.png');
    background-repeat: repeat;
    background-color: transparent;
}
.modal-tv-wrapper{
    width: 513px;
}
.modal-tv input,.modal-tv textarea{
    background-color: #ddce9a;
    border-radius: 15px;
    box-shadow: #333333 -14px 15px 26px -13px inset;
    color: #fce092;
    font-family: 'Myriad Pro Light';
    height: 38px;
    border: 0;
}
.modal-tv textarea{
    height: 95px;
}
.submit-dk{
    border: 0;
    background-color: transparent;
    float: none;
    margin: 0 auto;
    line-height: 30px;
    display: block;
    margin-top: 20px;
}
.submit-dk:hover{
    border: 0;
    background-color: transparent;
    color: #fff;
}
.note-dk{
    font-size: 16px;
    color: #ffffff;
    margin-top: 15px;
}
.note-dk span{
    color: #efb33b;
}

/*Category blog*/
.cat-item{
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}
.cat-item-thumbnail{
    float: left;
    display: inline-block;
    width: 200px;
    height: 180px;
}
.cat-item-thumbnail img{
    height: 100%;
    width: 100%;
}
.cat-item-info{
    float: left;
    width: 407px;
    padding-left: 10px;
    color: #fff;
    font-size: 14px;
    font-family: 'Myriad Pro Bold';
}
.cat-item-info a{
    color: #ddce9a;
    font-size: 18px;
}
.content-catblog{
    padding-top: 50px;
}
.panigation-wrapper{
    height: 30px;
    float: none;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.panigation-wrapper ul{
    padding: 0;
    display: inline-block;
}
.panigation-wrapper ul li{
    display: block;
    float: left;
}
.panigation-wrapper ul li a{
    display: inline-block;
    height: 100%;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 30px;
    font-size: 18px;
    color: #f4da89;
    font-family: 'Myriad Pro Light';
}
/*Gioi thieu*/
.slide-page-wrapper{
    height: 340px;
    margin-top: 10px;
    padding-bottom: 60px;
}
.slide-page-wrapper .carousel{
    height: 100%;
}
.slide-page-wrapper .carousel .carousel-inner img{
    height: 100%;
    width: 100%;
}
.slide-page-wrapper .carousel .carousel-indicators{
    position: absolute;
    left: 0 !important;
    bottom: -70px !important;
    width: 100%;
    height: 60px;
    top: auto;
    text-align: center;
}
.slide-page-wrapper .carousel .carousel-indicators li{
    float: none;
    width: 39px;
    display: inline-block;
}
.sg-page-testi h2{
    text-align: center;
    color: #e2cd5c;
    font-size: 24px;
    text-align: center;
}
.sg-page-testi .progress{
    height: 38px;
    background-color: #362600;
    box-shadow: none;
    overflow: initial;
    display: inline-block;
    width: 100%;
}
.sg-page-testi .progress-bar{
    height: 70px;
    color: #362600;
    font-size: 18px;
    font-weight: 600;
    line-height: 70px;
    text-align: left;
    padding-left: 30px;
    background-color: transparent;
    box-shadow: none;
    background-image: url('../images/back-progress.png');
    background-repeat: repeat;
    background-position: 0px 20px;
    background-size: 100%;
    margin-left: 23px;
    position: relative;
    top: -20px;
    left: -23px;
}
.sg-page-testi .bold-progress{
    font-family: 'Myriad Pro Bold';
    background-image: url('../images/back-progress.png');
    background-repeat: repeat;
    background-position: 0 89px;
    background-size: 100%;
    font-size: 20px;
    margin: 0;
    padding-left: 48px;
    position: relative;
    top: -15px;
    left: -22px;
}
.sg-page-testi  .light-progress{
    height: 30px;
}
.dt-wrapper img{
    float: none;
    margin: 0 auto;
    display: block;
}
.dt-wrapper .caption{
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin: 0;
}
.dt-content{
    color: #ddce9a;
    font-size: 18px;
    padding-top: 15px;
}
.tags-sg-wrapper{
    height: auto;
    display: inline-block;
    border: 2px solid #cdb148;
    padding: 15px;
    margin-bottom: 22px;
    font-family: 'Myriad Pro Bold';
    color: #ffd25e;
}
.tags-sg-wrapper a{
    color: #ffd25e;
    font-size: 14px;
    position: relative;
    padding-left: 10px;
}
.tags-sg-wrapper a:after{
    position: absolute;
    left: -1px;
    content: "#";
    top: -5px;
    color: #ffd25e;
}
.comment-header{
    background-image: url('../images/back-ykien.png');
    background-position: 0 0;
    background-repeat: repeat;
    height: 50px;
    width: 360px;
    float: none;
    margin: 0 auto;
    margin-bottom: 18px;
}
.comment-respond .comment-reply-title,.logged-in-as,.comment-form-comment label,.form-allowed-tags,.form-allowed-tags code{
    display: none;
}
.comment-form-comment textarea{
    width: 100%;
    height: 100px;
    border-radius: 30px;
    padding: 15px;
}
.form-submit{
    display: block;
    text-align: center;
}
.form-submit input{
    width: 207px;
    height: 55px;
    background-image: url('../images/sprite.png');
    background-repeat: repeat;
    background-position: bottom -95px right -130px;
    float: none;
    margin: 0 auto;
    font-size: 20px;
    color: #ddc759;
    text-align: center;
    line-height: 55px;
    font-family: 'Myriad Pro Bold';
    border: 0;
    background-color: transparent;
}
.customer-comment{
    width: 80%;
    float: left;
    display: inline-block;
    height: auto;
    padding: 15px;
    border-radius: 20px;
    background-color: #ddce9a;
    color: #342607;
    margin-bottom: 15px;
}
.admin-reply{
    width: 80%;
    float: right;
    display: inline-block;
    height: auto;
    padding: 15px;
    border-radius: 20px;
    background-color: #342607;
    color: #ddce9a;
    margin-bottom: 15px;
}
.comment-time{
    text-align: right;
    color: #342607;
    font-size: 12px;
    margin: 0;
}
.comment-rep{
    float: right;
    color: #ddce9a;
    font-size: 16px;
}
.backsg-top{
    width: 100%;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/bg-content.png');
    background-repeat: no-repeat;
    z-index: 0;
    background-position: -66px 84px;
    background-size: 1300px 1000px;
}
.backsg-bottom{
    width: 100%;
    height: 700px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url('../images/bg-content.png');
    background-repeat: no-repeat;
    z-index: 0;
    background-position: bottom 15px left -66px;
    background-size: 1300px 1000px;
}
/*FAQ*/
.faq-title{
    text-align: left;
    color: #f3d988;
    font-size: 24px;
    margin-top: 30px;
}
.faq-content img{
    width: 100%;
    max-width: 100%;
    padding-bottom: 10px;
}
.faq-content a{
    color: #f3d988;
}
.faq-content{
    font-family: 'Myriad Pro Bold';
    font-size: 16px;
    padding-top: 40px;
}
.faq-source{
    text-align: right;
    font-size: 14px;
}
.answer{
    text-align: left;
    font-size: 16px;
}
.answer-wrapper{
    font-size: 16px;
}
.post-related-header{
    color: #f4da89;
    text-transform: uppercase;
    font-size: 24px;
    height: 86px;
    background-image: url('../images/back-postrelate.png');
    background-repeat: repeat;
    background-position: 0 -6px;
    text-align: center;
    line-height: 88px;
    font-family: 'Myriad Pro Bold';
}
.post-related-wrapper ul{
    padding: 0;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}
.post-related-wrapper ul li{
    display: block;
    width: 100%;
    padding-bottom: 20px;
}
.post-related-wrapper ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #f4da89;
    font-weight: 600;
}
.post-related-wrapper ul li a:hover{
    color: #fff;
}
.rev_slider_wrapper{
    background-color: #ddce9a !important;
}
.content-mobile{
    display: none;
}
@media(max-width: 1024px){
    .content-destop{
        display: none;
    }
    .content-mobile{
        display: block;
    }
    .hotline-wrapper{
        line-height: 139px;
    }
    .content-index{
        max-width: 100%;
    }
    .carousel-inner > .item{
        text-align: center;
    }
    .content-index-item{
        float: none;
        display: inline-block;
    }
    .km-block{
        width: 100%;
    }
    .content-km-wrapper{
        background-position: 0  -91px;
        background-size: 102% 111%;
        height: auto;
        padding-bottom: 50px;
    }
    .dk-service-wrapper{
        text-align: center;
    }
    .dk-service{
        float: none;
        margin: 0 auto;
    }
    .kt-block{
        padding-left: 55px;
    }
    .thumbnail-larg{
        width: 100%;
    }
    .content-kt-wrapper{
        height: auto;
        background-image: none;
    }
    .thumbnail-small{
        margin-top: 10px;
    }
    .content-index{
        min-height: auto;
    }
    .content-techmobile .carousel-inner{
        height: 500px;
    }
    .content-tech-mobile{
        height: 525px;
    }
    .tect-item-des p{
        color: #fff;
        font-family: 'Myriad Pro Light';
    }
    .kt-block{
        text-align: center;
    }
    .kt-block a{
        display: inline-block;
    }
    .thumbnail-small{
        width: 100%;
    }
    .thumbnail-small-item a{
        float: left;
    }
    .footer1-item{
        padding-left: 20px;
    }
    .fan-facebook{
        width: 100%;
        text-align: center;
        background: none;
    }
    .time-work-wrapper{
        text-align: center;
        display: block;
    }
    .time-work{
        display: inline-block;
        float: none;
        margin-left: 0;
    }
    .content-footer2-wrapper{
        height: auto;
    }
    .subscribe-wrapper{
        display: inline-block;
        float: none;
        margin-top: 10px;
    }
    .copy-right{
        margin-top: 10px;
    }
    .content-sv-index{
        height: 360px;
    }
    .content-testi-index{
        height: 420px;
    }
    .content-tech-mobile{
        height: 530px;
    }
    .head-line-content{
        width: 100%;
        padding: 0;
    }
    .hotline-wrapper {
        left: 0;
        line-height: 90px;
        margin: 0;
        position: relative;
        text-align: left;
        width: 100%;
    }
    .hotline-wrapper span{
        text-align: right;
        width: 40%;
    }
    .category-content .content-index-block{
        background-size: 800px 100%;
    }
    .content-center{
        max-width: 100%;
        overflow: hidden;
    }
    .cate-item-wrapper{
        width: 100%;
        display: inline-block;
        float: none;
        height: auto;
        margin-bottom: 20px;
        margin-right: 28px;
        overflow: hidden;
    }
    .cate-item{
        width: 40%;
        height: auto;
    }
    .cate-item img{
        height: auto;
    }
    body .banner-top-wraper{
        height: auto;
    }
    .km-block img{
        height: auto;
    }
    .content-km-wrapper{
        background-position:  0 -137px;
    }
    .fan-facebook{
        margin-bottom: 15px;
        width: 235px;
        float: none;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .menu-sg-left,.menu-sg-right{
        display: none;
    }
    .banner-left{
        display: none !important;
    }
    .banner-right{
        display: none !important;
    }
    .map-wrapper{
        float: left;
        width: 50%;
        margin-top: 35px;
    }
    .content-footer1-wrapper .content-center{
        float: left;
        width: 50%;
    }
    .footer1-item ul li:after{
        background: none;
        border: 0;
    }
    .content-index-item{
        border: 0;
    }
    .backsg-top,.backsg-bottom{
        background: none;
    }
    .content-sg-wrapper{
        width: 100%;
    }
    .sv-more-wrapper{
        text-align: center;
    }
    .sv-more-item{
         display: inline-block;
         float: none;
    }
    .sg-page-testi .bold-progress{
        background-position: 0 100px;
    }
    .content-testi-wrapper .content-index-item:last-child{
        display: none;
    }
}
@media(max-width: 655px){
    .content-index-item{
        background: none;

    }
    .contact-sg-wrapper{
        text-align: center;
        padding: 0;
        width: 100%;
        background: none;
    }
    .hotline-wrapper{
        font-size: 25px;
        line-height: 93px;
    }
    .hotline-wrapper span{
        font-size: 20px;
    }
    .content-index-header{
        background-size: 1000px 800px;
        background-position: left -28px bottom -397px;
        width: 480px;
    }
    .sv-index-header {
        background-size: 1000px 800px;
        background-position: left -26px bottom -299px;
        width: 480px;
    }
    .content-tech-wrapper .sv-index-header {
        background-position: left -28px bottom -196px;
        margin-top: 25px;
    }
    .content-testi-wrapper .sv-index-header{
        background-position: left -24px bottom -96px;
    }
    .content-sv-index{
        height: 370px;
    }

    .content-index-item{
        width: 30%;
        height: auto;
    }
    .content-index-item img{
        border: 2px solid #d8b737;
    }
    .content-tech-mobile{
        height: 528px;
    }
    .content-testi-wrapper .content-index-item{
        height: auto;
        width: 30%;
    }
    .content-footer1-wrapper{
        background-position: top -11px left -44px;
        height: 365px;
    }
    .map-wrapper{
        width: 50%;
        margin-top: 35px;
        padding-right: 10px;
        background: none;
    }
    
    .view-map{
        text-align: right;
    }
    .dk-service-header{
        background-position: left -424px top 0;
    }
    .dk-service{
        padding-left: 0;
        width: 100%;
    }
    .category-content .content-index-header{
        background: none;
        font-size: 17px; 
    }
    .category-content .content-index-block{
        background: none;
    }
    .content-footer1-wrapper .content-center{
        max-width: 50%;
        float: left;
    }
    .btn:active, .btn.active{
        box-shadow: none;
    }
    .sg-page-testi .bold-progress{
        background: none;
        color: #fff;
    }
    .sg-page-testi .progress-bar{
        background: none;
        color: #fff;
    }
}
@media(max-width: 500px){
    .website-infor{
        height: 115px;
    }
    .cate-header{
        background: none;
        font-size: 18px;
        padding: 0;
    }
    .content-sg-wrapper{
        width: 100%;
    }
    .sv-more-item{
        border: 2px solid #d8c152;
        float: left;
        height: auto;
        margin: 0 0 10px;
        position: relative;
        width: 100%;
    }
    .content-index-header{
        background-position: -15px -115px;
        background-attachment: scroll;
        background-size: 500px 300px;
        width: 240px;
        height: 40px;
        overflow: hidden;
    }
    .sv-index-header{
        background-position: -15px  -153px;
        background-size: 500px 300px;
        width: 240px;
        height: 40px;
    }
    .content-tech-wrapper .sv-index-header{
        background-position: -15px -189px;
        background-size: 500px 300px;
        width: 240px;
        height: 40px;
    }
    .content-testi-wrapper .sv-index-header{
        background-position: -15px -227px;
        background-size: 500px 300px;
        width: 240px;
        height: 40px;
    }
    .content-sv-index .carousel-control.left{
        left: -55px;
    }
    .content-sv-index .carousel-control.right{
        right: -55px;
    }
    .content-testi-wrapper .content-index-item{
        width: 80%;
    }
    .content-index-item{
        width: 80%;
        border: 0;
    }
    .map-wrapper{
        float: left;
        width: 50%;
    }
    .footer1-block{
        width: 50%;
        float: left;
        overflow: hidden;

    }
    .sg-thmbnail{
        width: 100%;
        background: none;
    }
    .thumbnail-small-info{
        width: 100%;
    }
    body .thumbnail-small{
        margin-left: 0;
    }
    .thumbnail-small-item a{
        float: none;
        width: 100%;
    }
    .thumbnail-small-item img{
        width: 100%;
        height: auto;
    }
    .sv-more-header{
        background: none;
    }
    #carousel-techmobile-generic .item-wrapper .content-index-item{
        display: none;
    }
    #carousel-techmobile-generic .item-wrapper .content-index-item:first-child{
        display: block;
    }
}
@media(max-width: 400px){
    .dk-service-header{
        background-position: -321px 0;
        background-size: 1078px auto;
    }
    .submit-wrapper{
        background-position: -716px -198px;
        background-size: 1210px auto;
        height: 87px;
        width: 100%;
    }
    .content-km-wrapper{
        background-position: 0 -130px;
        background-size: 5000px auto;
    }
    .kt-block-header{
        background-size: 900px auto;
        background-position: -219px -69px;
        width: 278px;
    }
    .content-tech-mobile {
        height: 500px;
        overflow: hidden;
    }
    .content-testi-wrapper .carousel-inner{
        height: 300px;
    }
    .footer1-item{
        width: 100%;
    }
    .map-wrapper{
        width: 100%;
    }
    body .logo-mb{
        display: none;
    }
    .content-sv-index{
        height: 330px;
    }
    .content-testi-index{
        height: 400px;
    }
    .content-testi-wrapper .carousel-inner{
        height: 300px;
    }
    .content-sv-mobile{
        height: 300px;
        overflow: hidden;
    }
    .sv-index-wrapper{
        height: auto;
    }
    .content-tech-mobile{
        height: 495px;
    }
    .content-footer1-wrapper{
        height: 600px;
        background-size: 120% 663px;
        background-position: -44px -31px;
    }
    .content-footer1-wrapper .content-center{
        width: 100%;
        height: auto;
    }
    .content-footer1-wrapper .content-center{
        max-width: 100%;
    }
    #carousel-svmobile-generic .item .content-index-item:last-child{
        display: none;
    }
    #carousel-sv-generic .item .content-index-item:last-child{
        display: none;
    }
    .content-testi-wrapper .content-index-item:last-child{
        display: none;
    }
}
@media(max-width: 330px){
    .content-sv-index {
        height: 322px;
    }
    .content-tech-mobile{
        height: 384px;
    }
    .content-sv-mobile {
        height: 365px;
        overflow: hidden;
    }
    .content-testi-index {
        height: 335px;
    }
}
/*Mobile*/
.btn-collapse{
    text-transform: uppercase;
    text-align: left;
    padding-left: 20px;
    color: #301d05;
}
.contact-footer{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 0;
    display: block;
    height: 60px;
    left: 50%;
    margin-left: -115px;
    margin-top: 120px;
    min-height: 50px;
    position: relative;
    right: auto;
    top: auto;
    width: 330px;
}
.contact-footer a{
    background-image: url("../images/sprite-mobile.png");
    height: 60px;
    width: 64px;
}
.contact-home{
    background-position: -194px 0;
}
.contact-footer a.contact-km{
    background-position: -258px 0;
}
.contact-footer a.contact-tv{
    background-position: -322px 0;
}
.contact-footer a.contact-facebook{
    background-position: -386px 0;
}
.contact-footer a.contact-phone{
    background-position: -449px 0;
}
.item-wrapper{
    display: inline-block;
    float: none;
    margin:  0 auto;
}
.header-mb-wrapper{
    background-image: url("../images/back-menutop.png");
    background-position: center center;
    background-repeat: repeat;
    background-size: 2000px 105px;
    height: 80px;
    background-position: -148px -11px;
    background-attachment: scroll;
}
.menu-button{
    background-image: url("../images/sprite-mobile.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100%;
    background-position: 20px -155px;
    cursor: pointer;
}
.logo-mb{
    background-image: url("../images/sprite-mobile.png");
    background-position: center center;
    background-repeat: repeat;
    display: inline-block;
    height: 100%;
    background-position: 0 -83px;
    cursor: pointer;
    display: block;
    min-width: 80px;
}
.logo-mb a{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.logo-hd-mb{
    background-image: url("../images/sprite-mobile.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100%;
    background-position: 17px 0;
    display: block;
    width: 200px;
}
/*slide menu*/
.slide-menu-wrapper{
    width: 80%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #342607;
    z-index: 9999;
    text-align: center;
    display: none;
    overflow: scroll;
}
.slide-menu-wrapper .search-wrapper{
    display: inline-block;
    float: none;
    height: 55px;
    padding-top: 28px;
    width: 253px;
}
.slide-menu-wrapper .social-wrapper{
    float: none;
    display: inline-block;
    padding-top: 10px;
}
.slide-menu-wrapper .social-wrapper a{
    float: none;
}
.slide-menu-wrapper .menu-sg-header{
    display: inline-block;
    width: 260px;
}
.menu-item-wrapper ul{
    list-style: none;
    padding: 0;
    height: auto;
}
.menu-item-wrapper ul li{
    width: 100%;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu-item-wrapper ul li a{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: 'Myriad Pro Light';
    font-weight: 600;
    background-image: url("../images/sprite.png");
    background-position:  -1205px -6px;
    background-repeat: repeat;
    color: #ddce9a;
    font-size: 17px;
    height: 50px;
    line-height: 49px;
    text-align: center;
    max-width: 260px;
}
.menu-item-wrapper .sub-menu li{
    padding: 0;
    height: 30px;
}
.menu-item-wrapper .sub-menu a{
    background: none;
    line-height: 30px;
}
.slide-menu-wrapper .social-footer a{
    padding-right: 0;
}
.slide-menu-wrapper .logo-footer{
    display: inline-block;
    float: none;
}
.slide-menu-wrapper .website-infor{
    float: none;
    display: inline-block;
}
.close-menu{
    color: #fff;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    font-size: 23px;
    font-weight: normal;
    cursor: pointer;
    z-index: 999999;
}
/*Banner left*/
.banner-left{
    position: fixed;
    z-index: 99999;
    width: 120px;
    padding: 0;
    height: 600px;
    left: 10px;
    bottom: 15px;
    padding: 0;
    margin: 0;
    display: none;
}
.banner-right{
    position: fixed;
    z-index: 99999;
    width: 120px;
    padding: 0;
    height: 600px;
    right: 10px;
    bottom: 15px;
    padding: 0;
    margin: 0;
    display: none;
}
.banner-right img,.banner-left img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.container-fluid{
    float: none;
    margin: 0 auto;
    max-width: 2000px;
    overflow: hidden;
}
.btn-collapse{

}